In [6]:
from sklearn import datasets
import pandas as pd

In [79]:
iris = pd.read_csv("iris/Iris.csv")

In [80]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier

In [96]:
train,test = train_test_split(iris,test_size = 0.3)

In [91]:
train.to_csv("training_dataset.csv")

In [95]:
test.to_csv("test_dataset.csv")

In [90]:
train.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
70,71,5.9,3.2,4.8,1.8,Iris-versicolor
120,121,6.9,3.2,5.7,2.3,Iris-virginica
71,72,6.1,2.8,4.0,1.3,Iris-versicolor
7,8,5.0,3.4,1.5,0.2,Iris-setosa
148,149,6.2,3.4,5.4,2.3,Iris-virginica

In [94]:
test.drop("Species",axis=1,inplace=True)

/home/aiml/tensorflow/venv/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [71]:
test.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
115,116,6.4,3.2,5.3,2.3,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
39,40,5.1,3.4,1.5,0.2,Iris-setosa
66,67,5.6,3.0,4.5,1.5,Iris-versicolor
24,25,4.8,3.4,1.9,0.2,Iris-setosa

In [84]:
sol_file = test

In [85]:
sol_file.drop('SepalLengthCm',axis=1,inplace=True)
sol_file.drop("SepalWidthCm",axis=1,inplace=True)
sol_file.drop("PetalLengthCm",axis=1,inplace=True)
sol_file.drop("PetalWidthCm",axis=1,inplace=True)

/home/aiml/tensorflow/venv/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [86]:
sol_file.to_csv("solution.csv")

In [87]:
sol_file.columns

Index(['Id', 'Species'], dtype='object')

In [97]:
train_X=train[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
train_Y=train.Species
test_X = test[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
test_Y=test.Species

In [98]:
train_X.head(2)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
25             5.0           3.0            1.6           0.2
145            6.7           3.0            5.2           2.3

In [99]:
test_X.head(2)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
58            6.6           2.9            4.6           1.3
53            5.5           2.3            4.0           1.3

In [100]:
train_Y.head()

25         Iris-setosa
145     Iris-virginica
90     Iris-versicolor
13         Iris-setosa
30         Iris-setosa
Name: Species, dtype: object